/*------------------------------------*\
  #Default settings
\*------------------------------------*/

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  background-color: white;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  overflow-y: scroll;
}

body {
  font-size: 1.6rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}





/*------------------------------------*\
  #Rewriting icon styling
\*------------------------------------*/

.fas {
  margin-right: 0.5rem;
}





/*------------------------------------*\
  #Flip animation
\*------------------------------------*/

.flip-enter {
  transform: rotateX(0deg);
}

.flip-enter-active {
  transform: rotateX(180deg);
  transition: transform 200ms ease-in;
}

.flip-enter-done {
  transform: rotateX(360deg);
}

.flip-exit {
  transform: rotateX(360deg);
}

.flip-exit-active {
  transform: rotateX(180deg);
  transition: transform 200ms ease-in;
}

.flip-exit-done {
  transform: rotateX(0deg);
}





/*------------------------------------*\
  #Next card animation
\*------------------------------------*/

.next-enter {
  opacity: 0;
  transform: translateX(50%);
}

.next-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 400ms ease-in;
}

.next-exit {
  opacity: 0;
  transform: translateX(50%);
}

.next-exit-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 400ms ease-in;
}